.current__weather {
  position: relative;
  z-index: -1;
  .current-weather__container {
    display: flex;
    justify-content: center;
    padding: 20px;
    .current-weather__block {
      text-align: center;
      backdrop-filter: blur(20px);
      border: 5px solid rgba(216, 225, 15, 0.38);
      border-radius: 5px;
      padding: 20px;

      .location__block {
        font-size: 38px;
        letter-spacing: 2px;
        color: rgba(15, 58, 83, 0.62);
      }
      .temperature__block {
        margin-top: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
        color: rgba(15, 58, 83, 0.62);
        .img{
          width: 120px;
          height: 120px ;
          img{
            height: 100%;
            width: 100%;
          }
        }
        .temp {
          font-size: 72px;
          margin-left: 10px;
        }
        .celcium {
          margin-left: 10px;
          display: flex;
          flex-direction: column;

          button {
            font-size: 28px;
            border: none;
            background: none;
            color: rgba(15, 58, 83, 0.62);
            cursor: pointer;
            transition: 0.5s;
          }
          .active{
            font-size: 32px;
            transition: 0.5s;
          }

        }
      }
      .mostly__clear {
        margin-top: 20px;
        font-size: 32px
      }

      .update {
        margin: 20px 0 20px 0;
        font-size: 28px;
      }

      .weather__parametrs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 22px;
        width: 500px;
        margin: 0 auto;

        div {
          margin-left: 20px;
          padding: 10px;
        }
      }
    }
  }
}


@media (max-width: 730px) {
  .current__weather {
    .current-weather__container {
      .current-weather__block {
        .location__block {
          font-size: 28px;
          letter-spacing: 2px;
          color: rgba(15, 58, 83, 0.62);
        }
        .temperature__block {
          margin-top: 0;
          .img{
            width: 80px;
            height: 80px;
            img{
            }
          }
          .temp {
            font-size: 48px;
            margin-left: 0;
          }
          .celcium {
            margin-left: 10px;
            button {
              font-size: 18px;
            }
          }
        }
        .mostly__clear {
          margin-top: 0;
          font-size: 22px
        }
        .update {
          margin: 20px 0 20px 0;
          font-size: 22px;
        }
        .weather__parametrs {
          font-size: 16px;
          width: 400px;

          @media (max-width: 500px) {
            width: 280px;
          }
          div {
            margin-left: 20px;
            padding: 10px;
          }
        }
      }
    }
  }
}


