@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&display=swap');

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spline Sans', sans-serif;
}

a{
  text-decoration: none;
}

p {
  line-height: 20px;
  font-size: 16px;
}
ul,
ol,
li {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

img   {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  color: white;
  font-family: 'Roboto Serif', sans-serif;
  background-color: #fafafa;
  z-index: 0;
}


input {
  outline: none;
}

textarea{
  outline: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.App {
  background-image: url("../src/img/nebo.jpeg");
  background-size: cover;
  position: relative;
  z-index: 2;
}



span{
  font-family: 'Roboto Serif', sans-serif;
}
